{% extends "base.html" %}

{% block title %} About {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        
        <!-- Section -->
        <section class="section section-lg bg-gray-200">
         <figure class="position-absolute top-0 left-0 w-100 d-none d-md-block mt-n3">
             <png class="fill-gray-200" version="1.1" xmlns="/static/assets/img/office.png"  x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
             </png>
          </figure>
         <div class="container">
             <div class="row text-center">
                 <div class="col">
                     <h2 class="h1 fw-light"><span class="fw-bold">Our</span> history</h2>
                 </div>
             </div>
             <div class="row justify-content-center mt-6">
                 <div class="row justify-content-center">
                     <div class="col-md-12 col-lg-8">
                         <div class="timeline timeline-one dark px-3 px-sm-0">
                             <!-- Timeline Item 1 -->
                             <div class="timeline-item">
                                 <h3 class="h4 mb-4">Present</h3>
                                 <p>Now over seven years old, Bootstrap is an established and widely-used HTML, CSS, and JavaScript framework. It can be used as a basis for creating responsive web and mobile sites and web applications.</p>
                             </div>
                             <!-- Timeline Item 2 -->
                             <div class="timeline-item">
                                 <h3 class="h4 mb-4">Our first products</h3>
                                 <div class="my-3">
                                     <span class="icon icon-sm icon-purple me-2"><span class="fab fa-bootstrap"></span></span>
                                     <span class="icon icon-sm icon-info me-2"><span class="fab fa-react"></span></span>
                                     <span class="icon icon-sm icon-success me-2"><span class="fab fa-vuejs"></span></span>
                                     <span class="icon icon-sm icon-danger"><span class="fab fa-angular"></span></span>
                                 </div>
                                 <p>Bootstrap. Build responsive, mobile-first projects on the web with the world's most popular front-end component library. Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your
                                     ideas.
                                 </p>
                             </div>
                             <!-- Timeline Item 3 -->
                             <div class="timeline-item">
                                 <h3 class="h4 mb-4">Our office</h3>
                                 <img class="mt-2" src="/static/assets/img/office.png" alt="Themesberg workspace" width="300">
                                 <p>AngularJS is a JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing
                                     single-page applications.
                                 </p>
                             </div>
                             <!-- Timeline Item 4 -->
                             <div class="timeline-item">
                                 <h3 class="h4 mb-4">An ideea becomes a business</h3>
                                 <p>AngularJS is a JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing
                                     single-page applications.
                                 </p>
                                 <img class="mt-2" src="/static/assets/img/office.png" alt="signature" width="100">
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
             <png class="fill-white" version="1.1" xmlns="/static/assets/img/office.png" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
             </png>
          </figure>
     </section>
        {% include '/footer.html' %}
    </main>
{% endblock content %}