{% extends "base.html" %}

{% block title %} Resume {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<main>
    <!-- Section -->
    <div class="section-header bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center mb-5 mb-lg-6">
                <div class="col-6 col-md-3 text-center">
                    <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                        <a href="https://www.linkedin.com/in/maycon-meier/"><span
                                class="fab fa-linkedin text-tertiary"></span></a>
                    </div>
                    <h3 class="fw-bolder">Linked-in</h3>
                </div>
                <div class="col-6 col-md-3 text-center">
                    <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                        <a href="https://drive.google.com/file/d/1BeQGu5URygPqEKsvqtVsj46K9FWXCumF/view?usp=sharing"
                            target="_blank"><span class="fa fa-file text-tertiary"></span></a>
                    </div>
                    <h3 class="fw-bolder">Download PDF Version</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-12">
                    <!-- Tab Nav -->
                    <div class="nav-wrapper position-relative mb-2">
                        <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-text" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-text-1-tab" data-bs-toggle="tab"
                                    href="#tabs-text-1" role="tab" aria-controls="tabs-text-1" aria-selected="true">Work
                                    Experience</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-2-tab" data-bs-toggle="tab"
                                    href="#tabs-text-2" role="tab" aria-controls="tabs-text-2"
                                    aria-selected="false">Skills</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-3-tab" data-bs-toggle="tab"
                                    href="#tabs-text-3" role="tab" aria-controls="tabs-text-3"
                                    aria-selected="false">Education</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-4-tab" data-bs-toggle="tab"
                                    href="#tabs-text-4" role="tab" aria-controls="tabs-text-4"
                                    aria-selected="false">Extracurricular</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-5-tab" data-bs-toggle="tab"
                                    href="#tabs-text-5" role="tab" aria-controls="tabs-text-5"
                                    aria-selected="false">Publications</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End of Tab Nav -->
                    <!-- Tab Content -->
                    <div class="card border-2 ">
                        <div class="card-body p-3 ">
                            <div class="tab-content" id="tabcontent1">
                                <div class="tab-pane fade show active text-black" id="tabs-text-1" role="tabpanel"
                                    aria-labelledby="tabs-text-1-tab">
                                    <li><span class="fw-bold">Graduate Research - Software Development</span>
                                        <p><a href="https://www.uccs.edu" target="_blank">University of Colorado</p>
                                        <ul>
                                            <li>Implementation of phase-field methods for solid rocket propellants’
                                                regression simulation</li>
                                            <li>Application of dimension reduction methods (machine learning) for
                                                warfare gas detection.</li>
                                            <li>Served as a course development assistant helping faculty to develop
                                                quality and accessible educational activities.</li>
                                            <li>Principal lab instructor for the undergraduate mechanical engineering
                                                department.</li>
                                        </ul>
                                        <p>Preiod: March, 2020 - Present</p>
                                    </li>
                                    <li><span class="fw-bold">Financial Advisor</span>
                                        <p><a href="https://www.xpi.com.br/" target="_blank">XP Inc.</a></p>
                                        <ul>
                                            <li>Advising clients with strategies to build investment portfolios and
                                                long-term investing plans.</li>
                                            <li>Prospecting clients in rural communities.</li>
                                            <li>Converted over 1 million dollars low-quality investment products into XP
                                                Inc.</li>

                                        </ul>
                                        <p>Preiod: June, 2019 - May, 2019</p>
                                    </li>
                                    <li><span class="fw-bold">Supervisor (Trainee)</span>
                                        <p><a href="https://www.brf-global.com/en/" target="_blank">brf - Brasil
                                                Foods</a></p>
                                        <ul>
                                            <li>Served as the direct supervisor of over 140 employees.</li>
                                            <li>Production management for process efficiency, reduced stop times, and
                                                production loss.</li>
                                            <li>Applying evidence-based methods aiming to reduce bacterial
                                                cross-contamination in the production process, resulting in a 15%
                                                reduction in cross-contamination.</li>

                                        </ul>
                                        <p>Preiod: January, 2017 - January, 2018</p>

                                    </li>
                                    <li>
                                        <span class="fw-bold">Mechanical Engineering intern</span>
                                        <p><a href="https://www.houseindustriesinc.com/" target="_blank">ECS House
                                                Industries</a></p>
                                        <ul>
                                            <li>Responsible for the company’s transition from old Cad software into
                                                Solidworks;</li>
                                            <li>Production quality control and provide customers with technical
                                                support.</li>

                                        </ul>
                                        <p>Preiod: June, 2015 - August, 2015 </p>
                                    </li>

                                </div>
                                <div class="tab-pane fade text-black" id="tabs-text-2" role="tabpanel"
                                    aria-labelledby="tabs-text-2-tab">
                                    <li> Programming: <button class="btn btn-sm btn-outline-info"
                                            type="button">Python</button>, <button class="btn btn-sm btn-outline-info"
                                            type="button">C++</button>, <button class="btn btn-sm btn-outline-info"
                                            type="button">Java</button>, <button class="btn btn-sm btn-outline-info"
                                            type="button">HTML</button>, <button class="btn btn-sm btn-outline-info"
                                            type="button">CSS</button>, <button class="btn btn-sm btn-outline-info"
                                            type="button">GIT</button>, <button class="btn btn-sm btn-outline-info"
                                            type="button">SQL</button>, <button class="btn btn-sm btn-outline-info"
                                            type="button">LateX</button></li>
                                    <li> Frameworks: <button class="btn btn-sm btn-outline-info"
                                            type="button">Flask</button>, <button class="btn btn-sm btn-outline-info"
                                            type="button">.NET</button></li>
                                    <li> Tools: <button class="btn btn-sm btn-outline-info"
                                            type="button">Github</button>, <button class="btn btn-sm btn-outline-info"
                                            type="button">AWS</button>, <button class="btn btn-sm btn-outline-info"
                                            type="button">Inkscape</button></li>
                                    <li> Engineering: <button class="btn btn-sm btn-outline-info"
                                            type="button">SolidWorks</button>, <button
                                            class="btn btn-sm btn-outline-info" type="button">Comsol</button>, <button
                                            class="btn btn-sm btn-outline-info" type="button">MS Excel</button>, <button
                                            class="btn btn-sm btn-outline-info" type="button">ISO 9000</button> </li>
                                    <li> Languages: , <button class="btn btn-sm btn-outline-info"
                                            type="button">English</button>, <button class="btn btn-sm btn-outline-info"
                                            type="button">Portuguese</button>, <button
                                            class="btn btn-sm btn-outline-info" type="button">Spanish</button></li>
                                    <li> Soft Skills: <button class="btn btn-sm btn-outline-info" type="button">Team
                                            Management and Team work</button>, <button
                                            class="btn btn-sm btn-outline-info" type="button">Accountability</button>,
                                        <button class="btn btn-sm btn-outline-info" type="button">Empathy</button>,
                                        <button class="btn btn-sm btn-outline-info" type="button">Problem
                                            Solving</button>, <button class="btn btn-sm btn-outline-info"
                                            type="button">Interpersonal Communication</button>, <button
                                            class="btn btn-sm btn-outline-info" type="button">Work Ethics</button>
                                    </li>
                                </div>
                                <div class="tab-pane fade text-black" id="tabs-text-3" role="tabpanel"
                                    aria-labelledby="tabs-text-3-tab">
                                    <li>
                                        <span class="fw-bold">PhD in Mechanical and Aerospace Engineering</span>
                                        <p><a href="https://www.uccs.edu" target="_blank">University of Colorado</a></p>
                                        <p>Period: 2020 - Current</p>
                                        <p>Emphasis in Computational Solid Mechanics.</p>
                                    </li>
                                    <li>
                                        <span class="fw-bold">MSc in Industrial Mechanical Engineering</span>
                                        <p><a href="https://portal3.ipb.pt/index.php/en/" target="_blank">Polytechnic
                                                Institute of Braganca</a></p>
                                        <p>Period: 2018 - 2019</p>
                                        <p>Emphasis in numerical problems and data science.</p>
                                    </li>
                                    <li>
                                        <span class="fw-bold">BSc in Mechanical Engineering</span>
                                        <p><a href="http://www.utfpr.edu.br/" target="_blank">Federal University of
                                                Tecnology - Parana</a></p>
                                        <p>Period: 2012 - 2017</p>

                                    </li>
                                    <li>
                                        <span class="fw-bold">Tecnical degree in Business</span>
                                        <p><a href="http://www.fnbmarioandrade.seed.pr.gov.br/modules/noticias/"
                                                target="_blank">Colegio Estadual Mario de Andrade</a></p>
                                        <p>Period: 2008 - 2011</p>

                                    </li>
                                </div>
                                <div class="tab-pane fade text-black" id="tabs-text-4" role="tabpanel"
                                    aria-labelledby="tabs-text-4-tab">

                                    <li><a href="https://www.rotary.org/en" target="_blank">Rotary Club - District 4640
                                        </a>
                                        <p>Rotary is an organization of business and professional people united
                                            worldwide who provide humani-
                                            tarian service, encourage high ethical standards in all vocations, and help
                                            build goodwill and peace in
                                            the world.</p>
                                    </li>
                                    <li><a href="https://michaelshof-sammatz.de/blog/en/volunteer/volunteering-in-germany/"
                                            target="_blank">Volunteer in Sammatz - Germany</a>
                                        <p>Sammatz is a small community focused on community growth with sustainability.
                                        </p>
                                    </li>
                                    <li><a href="https://mlc.uccs.edu/organization/ostemuccs" target="_blank">Member of
                                            oSTEM, UCCS</a>
                                        <p>oSTem looks to promote diversity, social activities and to provide resources
                                            for the lgbt+ STEM com-
                                            munity</p>
                                    </li>
                                    <li><a href="https://www.instagram.com/atleticapatobranco/" target="_blank">Director
                                            of the Academic Athletic Association for Engineers</a>
                                        <p>The Athletic Association is responsible for organizing all the athletic
                                            activities on campus and to rep-
                                            resent the university in the state competitions.</p>
                                    </li>
                                    <li><a href="https://www.pb.utfpr.edu.br/utech/" target="_blank">UTech Performance
                                            research group</a>
                                        <p>UTech is an automotive project focused on converting a passenger car into a
                                            racing car while observing
                                            efficiency, safety, and performance parameters</p>
                                    </li>
                                </div>
                                <div class="tab-pane fade text-black" id="tabs-text-5" role="tabpanel"
                                    aria-labelledby="tabs-text-5-tab">
                                    <li>Meier, M.; Schmidt, E.; Quinlan, J.; Runnels, B: Diffuse interface method for
                                        solid composite
                                        propellant ignition and regression. Submitted (2023). <a
                                            href="https://doi.org/10.1016/j.combustflame.2023.113120" target="_blank"> [link] </a>
                                    </li>
                                    <li>Meier, M; Kittle, J. D.; Yee, X. C.: Supervised Dimension Reduction for Optical
                                        Vapor Sens-
                                        ing. RSC advances 12.16 (2022): 9579-9586. <a
                                            href="https://pubs.rsc.org/en/content/articlehtml/2022/ra/d1ra08774f"
                                            target="_blank"> [link] </a></li>
                                    <li>Saggin, R. F., Prado, N. V. D., Meier, M., Balbinot-Alfaro, E., & da Trindade
                                        Alfaro, A. (2022).
                                        Air chilling of Turkey carcasses: process efficiency and impact in the meat
                                        quality traits.
                                        Journal of Food Science and Technology, 59(9), 3683-3692. <a
                                            href="https://link.springer.com/article/10.1007/s13197-022-05391-7"
                                            target="_blank"> [link] </a></li>
                                    <li>Meier, M.; Balsa, C.; Veiga, C. R.: Reconstitution of weather time series with
                                        an analog
                                        ensemble model. Master’s Degree Thesis. Polytechnic Institute of Braganca
                                        (2019).<a href="https://bibliotecadigital.ipb.pt/handle/10198/19762"
                                            target="_blank"> [link] </a></li>
                                    <li>Meier, M.; Lafay, J. S. : Structured energy management methodology applied to
                                        the poultry
                                        industry. Bachelor’s Degree Thesis. Parana Federal University of Technology.
                                        ROCA DAMEC. Pato
                                        Branco, Paran ́a, (2017). <a
                                            href="https://repositorio.utfpr.edu.br/jspui/handle/1/15231"
                                            target="_blank"> [link] </a></li>
                                    <li>Goffi, A. S. ; Meier, M. ; Lafay, J. S. . Brazilian poultry industry: challanges
                                        to the implemen-
                                        tation of energy efficiency policies. in: (conbrepro 2016), 2016. v. vi <a
                                            href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=DsWpAHMAAAAJ&authuser=1&citation_for_view=DsWpAHMAAAAJ:9yKSN-GCB0IC"
                                            target="_blank"> [link] </a></li>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End of Tab Content -->
                </div>
            </div>
        </div>


        <!-- Section -->
        <section class="section section-lg bg-gray-200">
            <div class="container text-black">
                <figure class="position-absolute top-0 left-0 w-100 d-none d-md-block mt-n3">
                    <png class="fill-gray-200" version="1.1" xmlns="/static/photo1.png" x="0px" y="0px"
                        viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                        <path
                            d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z">
                        </path>
                    </png>
                </figure>
                <div class="container">
                    <div class="row text-center">
                        <div class="col">
                            <h2 class="h1 fw-light"><span class="fw-bold">Timeline</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-6">
                        <div class="row justify-content-center">
                            <div class="col-md-12 col-lg-8">
                                <div class="timeline timeline-one dark px-3 px-sm-0">
                                    <!-- Timeline Item 1 -->
                                    <div class="timeline-item">
                                        <h3 class="h4 mb-4">January, 2020 - Present</h3>
                                        <p class="lead">Graduate Research Assistant and PhD Candidate at the University
                                            of Colorado.</p>
                                    </div>
                                    <!-- Timeline Item 2 -->
                                    <div class="timeline-item">
                                        <h3 class="h4 mb-4">June 2019 - May 2020</h3>
                                        <p class="lead">Financial Advisor at XP Investments
                                        </p>
                                    </div>
                                    <!-- Timeline Item 3 -->
                                    <div class="timeline-item">
                                        <h3 class="h4 mb-4">January, 2018 - April, 2019</h3>

                                        <p class="lead">Masters Degree - Polytechnic Institute of Braganca
                                        </p>
                                    </div>
                                    <!-- Timeline Item 4 -->
                                    <div class="timeline-item">
                                        <h3 class="h4 mb-4">January, 2017 - January, 2018</h3>
                                        <p class="lead">Trainee Supervisor at brf - Brasil Foods.
                                        </p>
                                    </div>
                                    <div class="timeline-item">
                                        <h3 class="h4 mb-4">August, 2016 - January, 2018</h3>
                                        <p class="lead">English as a second language teacher.
                                        </p>
                                    </div>
                                    <div class="timeline-item">
                                        <h3 class="h4 mb-4">March, 2014 - December, 2015</h3>
                                        <p class="lead">Calculus Tutor.
                                        </p>
                                    </div>
                                    <div class="timeline-item">
                                        <h3 class="h4 mb-4">March, 2012 - December, 2017</h3>
                                        <p class="lead">Bachelors Degree - Federal University of Technology - Parana.
                                        </p>
                                    </div>
                                    <div class="timeline-item">
                                        <h3 class="h4 mb-4">August, 2010 - December, 2011</h3>
                                        <p class="lead">Accounting Assistant.
                                        </p>
                                    </div>
                                    <div class="timeline-item">
                                        <h3 class="h4 mb-4">February, 2008 - December, 2011</h3>
                                        <p class="lead">Tecnical Degree in Business - Colegio Estadual Mario de Andrade.
                                        </p>
                                    </div>
                                    <div class="timeline-item">
                                        <h3 class="h4 mb-4"></h3>
                                        <p class="lead">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
                    <png class="fill-white" version="1.1" xmlns="/static/photo1.png" x="0px" y="0px"
                        viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                        <path
                            d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z">
                        </path>
                    </png>
                </figure>
            </div>
        </section>
        {% include '/footer.html' %}
</main>
{% endblock content %}
